:root {
    /* Color Definitions */
    --black: #131314;
    --white: #F4F6F3;
    --alert-red: #EF182B;
}

/* Font-Face */
@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Thin.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-LightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Medium.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Regular.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Italic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Black.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Bold.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Regular.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Italic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}



/* Reset & Defaults */
html,
* {
    font-family: "Mont";
}

body {
    background-color: var(--white);
}

/* Header Logo */
header {
    width: 100%;
    padding-top: 2vh;
    background-color: transparent;
}

#logo {
    text-align: center; /* Centers the SVG logo */
}

#logo img {
    width: 9vw; /* Adjust based on your logo's size */
    height: auto;
}


/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100vw;    
}

/* Headings */
.team-head, .time-head, .score-head {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
}

h3 {
    font-weight: 400;
    font-style: normal;
}

/* Team Containers */
#team1-container, #team2-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-items: center;
    flex-wrap: wrap;
}

/* Stat Details */
#team1-detail-cont, #team2-detail-cont, #output-detail-cont, #pace-output-detail-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#team1-top-row, #team2-top-row, #team1-bottom-row, #team2-bottom-row  {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-detail, .output-detail {
    font-size: 1.75em;
    font-weight: 600;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

/* Span Styling */
#team1-top-row span, #team2-top-row span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team1-bottom-row span, #team2-bottom-row span {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output-detail-cont span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pace-output-detail-cont span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pace-output-detail-full, .pace-output-detail-empty {
    width: 25%;
}

/* Headings within Spans */
#team1-detail-cont span h3, #team2-detail-cont span h3, #output-detail-cont span h3, #pace-output-detail-cont span h3 {
    font-size: .75em;
    margin-top: 2vh;
    margin-bottom: .5vh;
    text-align: center;
}

/* Time Remaining & Scoreboard */
#time-remaining-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-items: center;
}

#current-scores-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-items: center;
    flex-wrap: wrap;
}

#scoreboard-display {
    width: 67vw;
    display: flex;
    flex-direction: row;
}

#scoreboard-display span {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0vh;
    align-items: center;
}

#team1-score-head, #team2-score-head {
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
}

/* Pace */
#pace-description-container h3 {
    font-size: 1.25em;
    font-weight: 700;
    font-style: normal;
}

#output-pace-flag {
    width: 100%;
    padding-top: 3vh;
    font-size: 1.125em;
    font-weight: 600;
    font-style: italic;
}

#output-container, #pace-output-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-items: center;
    flex-wrap: wrap;
}

#pace-output-detail-cont {
    margin-top: 1.5vh;
}

/* Inputs & Selectors */
.team-select {
    width: 100%;
    border: .25vw solid var(--black);
    border-radius: .5vw;
    color: var(--black);
    background-color: var(--white);
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
    margin-bottom: 0vh;
}

.time-select {
    width: 25%;
    border: .25vw solid var(--white);
    border-radius: .5vw;
    color: var(--white);
    background-color: var(--black);
    font-family: 'Technology';
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}

.time-select option {
    font-family: 'Technology';
    font-weight: bold;
    font-style: italic;
}

.team-score {
    width: 100%;
    border: .25vw solid var(--white);
    border-radius: .5vw;
    color: var(--white);
    background-color: var(--black);
    font-family: 'Technology';
    font-size: 3em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}

/* Mobile Devices (Small Screens) */
@media (max-width: 320px) {
    /* Styles for mobile devices */
    #logo img {
        width: 25vw;
    }

    h2 {
        font-size: 1.125em;
    }

    #team1-container, #team2-container, #output-container, #pace-output-container {
        margin-bottom: 1vh;
    }

    .team-select {
        border: 1.5vw solid var(--black);
        border-radius: 4.5vw;
        font-size: 1.0675em;
    }

    .time-select {
        width: 50%;
        border: 1.5vw solid var(--white);
        border-radius: 5.5vw;
        font-size: 2.5em;
    }
    
    #team1-detail-cont span h3, #team2-detail-cont span h3, #output-detail-cont span h3, #pace-output-detail-cont span h3 {
        font-size: .45em;
    }

    .team-detail, .output-detail {
        font-size: 1em;
        margin-top: .5vh;
        margin-bottom: .75vh;
    }

    #team1-score-head, #team2-score-head {
        font-size: 1em;
        margin-bottom: 1vh;
    }

    #pace-description-container h3 {
        font-size: 1.05em;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }

    #scoreboard-display {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 67%;
    }

    .team-score {
        border: 1.05vw solid var(--white);
        border-radius: 3.5vw;
        font-size: 2.33em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        padding-bottom: 2vh;
    }

    .pace-output-detail-empty {
        width: 0vw;
    }

    .pace-output-detail-full {
        width: 50%;
    }
}

/* Mobile Devices (Large Screens) */
@media (min-width: 321px) and (max-width: 425px) {
    /* Styles for tablets in portrait orientation */
    #logo img {
        width: 20vw;
    }

    h2 {
        font-size: 1.15em;
    }

    #team1-container, #team2-container, #output-container, #pace-output-container {
        margin-bottom: 2vh;
    }

    .team-select {
        border: 1.05vw solid var(--black);
        border-radius: 3.5vw;
        font-size: 1.25em;
    }

    .time-select {
        width: 50%;
        border: 1.05vw solid var(--white);
        border-radius: 3.5vw;
        font-size: 2.33em;
    }

    #team1-detail-cont span h3, #team2-detail-cont span h3, #output-detail-cont span h3, #pace-output-detail-cont span h3 {
        font-size: .55em;
    }

    .team-detail, .output-detail {
        font-size: 1.125em;
        margin-top: .5vh;
        margin-bottom: .75vh;
    }

    #team1-score-head, #team2-score-head {
        font-size: 1.05em;
        margin-bottom: 1vh;
    }

    #pace-description-container h3 {
        font-size: 1.05em;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }

    #scoreboard-display {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 67%;
    }

    .team-score {
        border: 1.05vw solid var(--white);
        border-radius: 3.5vw;
        font-size: 2.33em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        padding-bottom: 2vh;
    }

    .pace-output-detail-empty {
        width: 0vw;
    }

    .pace-output-detail-full {
        width: 50%;
    }
}

/* Tablets (Portrait) */
@media (min-width: 425px) and (max-width: 768px) {
    /* Styles for tablets in portrait orientation */
}

/* Tablets (Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets in landscape orientation and small desktop screens */
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for tablets in landscape orientation and small desktop screens */
}

/* Large Desktops */
@media (min-width: 1441px) and (max-width: 2560px) {
    /* Default Code */
    #logo img {
        width: 7vw;
    }

    .team-select {
        width: 80%;
    }

    #team1-detail-cont, #team2-detail-cont, #output-detail-cont, #pace-output-detail-cont {
        width: 67%;
    }
}

/* Large Displays */
@media (min-width: 2561px) {
    /* Styles for large desktop screens */
    #logo img {
        width: 7vw;
    }

    .team-select {
        width: 80%;
    }

    #team1-detail-cont, #team2-detail-cont, #output-detail-cont, #pace-output-detail-cont {
        width: 67%;
    }
}