/* Font-Face */
@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Thin.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-LightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Medium.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Regular.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Italic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Black.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

/* Reset & Defaults */
html,
* {
    font-family: "Mont";
}

/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Headings */
.team-head, .time-head, .score-head {
    display: flex;
    justify-content: center;
}

.h2 {
    font-size: 1em;
    font-weight: 900;
    font-style: normal;
}

.h3 {
    font-weight: 400;
    font-style: normal;
}

/* Team Containers */
#team1-container, #team2-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vh;
}

/* Stat Details */
#team1-detail-cont, #team2-detail-cont, #output-detail-cont, #pace-output-detail-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-detail, .output-detail {
    font-size: 1.33em;
    font-weight: 600;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

/* Span Styling */
#team1-detail-cont span, #team2-detail-cont span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output-detail-cont span, #pace-output-detail-cont span {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Headings within Spans */
#team1-detail-cont span h3, #team2-detail-cont span h3, #output-detail-cont span h3, #pace-output-detail-cont span h3 {
    margin-top: 2vh;
    margin-bottom: .5vh;
    text-align: center;
}

/* Time Remaining & Scoreboard */
#time-remaining-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vh;
}

#scoreboard-display {
    display: flex;
    flex-direction: row;
}

#scoreboard-display span {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3vh;
}

/* Pace */
#output-pace-flag {
    margin-top: 2vh;
    font-size: 1.125em;
    font-weight: 600;
    font-style: italic;
}

#output-container, #pace-output-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vh;
}

/* Inputs & Selectors */
.team-select {
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}

.time-select {
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}

.team-score {
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}
