:root {
    /* Color Definitions */
    --black: #131314;
    --white: #F4F6F3;
    --alert-red: #EF182B;
}

/* Font-Face */
@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Thin.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-LightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Medium.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Regular.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Italic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Black.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Bold.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Regular.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Italic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}



/* Reset & Defaults */
html,
* {
    font-family: "Mont";
}

body {
    background-color: var(--white);
}

/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Headings */
.team-head, .time-head, .score-head {
    display: flex;
    justify-content: center;
}

.h2 {
    font-size: 1em;
    font-weight: 900;
    font-style: normal;
}

.h3 {
    font-weight: 400;
    font-style: normal;
}

/* Team Containers */
#team1-container, #team2-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-content: center;
    flex-wrap: wrap;
}

/* Stat Details */
#team1-detail-cont, #team2-detail-cont, #output-detail-cont, #pace-output-detail-cont {
    width: 67vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-detail, .output-detail {
    font-size: 1.75em;
    font-weight: 600;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

/* Span Styling */
#team1-detail-cont span, #team2-detail-cont span, #output-detail-cont span, #pace-output-detail-cont span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Headings within Spans */
#team1-detail-cont span h3, #team2-detail-cont span h3, #output-detail-cont span h3, #pace-output-detail-cont span h3 {
    font-size: .75em;
    margin-top: 2vh;
    margin-bottom: .5vh;
    text-align: center;
}

/* Time Remaining & Scoreboard */
#time-remaining-container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
}

#current-scores-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-content: center;
    flex-wrap: wrap;
}

#scoreboard-display {
    width: 67vw;
    display: flex;
    flex-direction: row;
}

#scoreboard-display span {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0vh;
    align-items: center;
}

#team1-score-head, #team2-score-head {
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
}

/* Pace */
#output-pace-flag {
    padding-top: 3vh;
    font-size: 1.125em;
    font-weight: 600;
    font-style: italic;
}

#output-container, #pace-output-container {
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0vh;
    align-content: center;
    flex-wrap: wrap;
}

#pace-output-detail-cont {
    margin-top: 1.5vh;
}

/* Inputs & Selectors */
.team-select {
    border: .25vw solid var(--black);
    border-radius: .5vw;
    color: var(--black);
    background-color: var(--white);
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
    margin-bottom: 0vh;
}

.time-select {
    border: .25vw solid var(--white);
    border-radius: .5vw;
    color: var(--white);
    background-color: var(--black);
    font-family: 'Technology';
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}

.time-select option {
    font-family: 'Technology';
    font-weight: bold;
    font-style: italic;
}

.team-score {
    border: .25vw solid var(--white);
    border-radius: .5vw;
    color: var(--white);
    background-color: var(--black);
    font-family: 'Technology';
    font-size: 3em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
}
