:root {
    /* Color Definitions */
    --black: #131314;
    --white: #F4F6F3;
    --alert-red: #EF182B;
    /* New Team Color Variables (placeholders) */
    --team1-primary: #131314;
    /* Example default color */
    --team1-secondary: #131314;
    /* Example default color */
    --team2-primary: #131314;
    /* Example default color */
    --team2-secondary: #131314;
    /* Example default color */
}

/* Font-Face */
@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Thin.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-LightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Medium.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Regular.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Italic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Black.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Bold.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Regular.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Italic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}



/* Reset & Defaults */
html,
* {
    font-family: "Mont";
}

body {
    background-color: var(--white);
}

/* Header Logo */
header {
    width: 100%;
    padding-top: 2vh;
    background-color: transparent;
}

#logo {
    text-align: center;
    /* Centers the SVG logo */
}

#logo img {
    width: 9vw;
    /* Adjust based on your logo's size */
    height: auto;
}


/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

/* Team Select Containers */
#selection-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    gap: 5vw;
    padding: 0vw 10vw;
}

#team1-container,
#team2-container {
    width: 37.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

.team1-select-cont,
.team2-select-cont {
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

.team-selection-orna-cont {
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    pointer-events: none;
}

#team1-select-orna-l,
#team1-select-orna-m,
#team1-select-orna-r {
    fill: var(--team1-secondary);
    stroke-width: 0px;
    position: relative;
    display: flex;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
}

#team2-select-orna-l,
#team2-select-orna-m,
#team2-select-orna-r {
    fill: var(--team2-secondary);
    stroke-width: 0px;
    position: relative;
    display: flex;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
}

#team1-select-orna-l,
#team2-select-orna-l {
    width: 42%;
    height: auto;
    transform: translateX(-1.75vw);
}

#team1-select-orna-m,
#team2-select-orna-m {
    width: 37%;
    height: auto;
    transform: translateX(-3vw);
}

#team1-select-orna-r,
#team2-select-orna-r {
    width: 20%;
    height: auto;
    transform: translate(0.5vw, -0.25vh);
}

#selection-arrow {
    width: 2.5vw;
    height: auto;
    position: relative;
    z-index: 2;
    display: flex;
    transform: translateX(16.5vw);
    pointer-events: none;
}

.team-select {
    -webkit-appearance: none;
    /* For WebKit browsers */
    -moz-appearance: none;
    /* For Mozilla browsers */
    appearance: none;
    /* Standard */
    outline: none;
    position: absolute;
    overflow-y: hidden;
    cursor: pointer;
    width: 100%;
    height: 10vh;
    padding: 1.5vh;
    margin-bottom: 0vh;
    z-index: 1;
    color: var(--white);
    border: none;
    border-radius: 2vw;
    background: transparent;
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

/* Styling the dropdown options */
.team-select option {
    background-color: var(--black);
    color: var(--white);
    font-weight: 700;
    border: none;
}

/* Remove scrollbar */
.team-select::-webkit-scrollbar {
    display: none;
}

/* Style the selected option */
.team-select option:hover, 
.team-select option:focus {
    background-color: var(--white);
    color: var(--black);
}

#team1-select:focus option:checked {
    background-color: var(--team1-primary); /* Custom highlight color */
    color: var(--white); /* Text color for selected option */
}

#team2-select:focus option:checked {
    background-color: var(--team2-primary); /* Custom highlight color */
    color: var(--white); /* Text color for selected option */
}

#team1-select {
    /*border-color: var(--team1-primary);*/
}

#team2-select {
    /*border-color: var(--team2-primary);*/
}

.team1-select-high-fill {
    fill: var(--team1-primary);
    stroke-width: 0px;
}

.team2-select-high-fill {
    fill: var(--team2-primary);
    stroke-width: 0px;
}

#team1-select-highlight,
#team2-select-highlight {
    overflow: visible;
    z-index: 0;
    width: 100%;
    position: absolute;
}

/* Headings */
.team-head,
.time-head,
.score-head {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.team-head {
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: auto;
    align-items: center;
    flex-direction: column;
}

#team-head-orna-1,
#team-head-orna-2 {
    overflow: visible;
    width: 4vw;
    margin-top: -2vh;
}

.orna-fill-1 {
    fill: var(--team1-primary);
    stroke-width: 0px;
}

.orna-fill-2 {
    fill: var(--team2-primary);
    stroke-width: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
}

h3 {
    font-weight: 400;
    font-style: normal;
}

/* Stat Details */
#team1-detail-cont,
#team2-detail-cont,
#output-detail-cont,
#pace-output-detail-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#team1-top-row,
#team2-top-row,
#team1-bottom-row,
#team2-bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5vh;
}

.team-detail,
.output-detail {
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    margin-top: .75vh;
    margin-bottom: 1vh;
    border: 0.2vw solid;
    border-radius: 0.75vw;
    width: 5vw;
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#team1-rank,
#team1-rec,
#team1-offRank,
#team1-defRank,
#team1-possGm,
#team1-ptsGm,
#team1-ptsOppGm,
#team1-fgPer,
#team1-threePer {
    border-color: var(--team1-secondary);
}

#team2-rank,
#team2-rec,
#team2-offRank,
#team2-defRank,
#team2-possGm,
#team2-ptsGm,
#team2-ptsOppGm,
#team2-fgPer,
#team2-threePer {
    border-color: var(--team2-secondary);
}

.team1-highlight-fill {
    fill: var(--team1-primary);
    stroke-width: 0px;
}

.team2-highlight-fill {
    fill: var(--team2-primary);
    stroke-width: 0px;
}

#team1-highlight,
#team2-highlight {
    overflow: visible;
    z-index: 0;
    position: absolute;
    width: 7vw;
    margin-top: 0.25vh;
    margin-left: 0.5vw;
}

#team1-detail-cont span h3,
#team2-detail-cont span h3 {
    font-size: .67em;
    text-align: center;
    z-index: 1;
    position: relative;
}

.team1-detail-title,
.team2-detail-title {
    color: var(--white);
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Span Styling */
#team1-top-row span,
#team2-top-row span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team1-bottom-row span,
#team2-bottom-row span {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output-detail-cont span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pace-output-detail-cont span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pace-output-detail-full,
.pace-output-detail-empty {
    width: 25%;
}

/* Headings within Spans */
#output-detail-cont span h3,
#pace-output-detail-cont span h3 {
    font-size: .67em;
    margin-top: 1vh;
    margin-bottom: .125vh;
    text-align: center;
}

/* Time Remaining & Scoreboard */
#time-remaining-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
}

.progress-ring-container {
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8vh 0vw 6vh 0vw;
}

.progress-ring {
    position: absolute;
    z-index: 1;
    /* Ensure it's behind the select */
    transform: rotate(-90deg);
    /* Rotate so progress starts from the top */
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: scaleX(-1);
    /* Flip horizontally to correct the rotation direction */
}

#time-up,
#time-down {
    fill: var(--white);
    stroke-width: 0px;
    width: 1.5vw;
    z-index: 5;
    margin: -1vh 0 -1vh 0;
}

.time-select {
    -webkit-appearance: none;
    /* For WebKit browsers */
    -moz-appearance: none;
    /* For Mozilla browsers */
    appearance: none;
    /* Standard */
    outline: none;
    color: var(--white);
    font-family: 'Technology';
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 3vh;
    background: transparent;
    border: none;
    z-index: 5;
    position: relative;
}

.time-select option {
    font-family: 'Technology';
    font-weight: bold;
    font-style: italic;
}

#time-enclosure {
    overflow: visible;
    z-index: 0;
    position: absolute;
    width: 10vw;
}

#time-enclosure-shape {
    fill: var(--black);
    stroke-width: 0px;
}

#time-encl-indicator {
    overflow: visible;
    z-index: 1;
    position: absolute;
    width: 13vw;
}

#time-encl-indicator-shape {
    fill: var(--black);
    stroke-width: 0px;
}

#foul-game-indicator {
    overflow: visible;
    z-index: 2;
    position: absolute;
    width: 10vw;
    transform: translate(0vw, -.5vh);
    display: none;
    /* Initially hidden */
}

#foul-game-indicator-shape {
    fill: var(--alert-red);
    stroke-width: 0px;
}

#current-scores-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

#scoreboard-display {
    width: 67%;
    display: flex;
    flex-direction: row;
}

#scoreboard-display span {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0vh;
    align-items: center;
}

#team1-score-head,
#team2-score-head {
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
}

/* Pace */
#pace-description-container h3 {
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
}

#output-pace-flag {
    width: 100%;
    padding-top: 2vh;
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
}

#output-container,
#pace-output-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

#pace-output-detail-cont {
    margin-top: 1.5vh;
}

/* Inputs & Selectors */

#score-input-team1,
#score-input-team2 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 2vh 0vw 1vh 0vw;
}

.team-score {
    appearance: none;
    /* Standard */
    outline: none;
    /* Remove the outline on focus */
    color: var(--white);
    font-family: 'Technology';
    font-size: 2.75em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    padding: 1.5vh 0vh;
    background: transparent;
    border: none;
    z-index: 2;
    position: relative;
    width: 100%;
    height: auto;
}

/* Hide the spin buttons in WebKit browsers (Chrome, Safari, Edge) */
.team-score::-webkit-outer-spin-button,
.team-score::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spin buttons in Firefox */
.team-score[type=number] {
    -moz-appearance: textfield;
}

#team-score-enclosure-1 {
    fill: var(--team1-primary);
}

#team-score-enclosure-2 {
    fill: var(--team2-primary);
}

#team-score-enclosure-1,
#team-score-enclosure-2 {
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
}

/* ####### RESPONSIVE VIEWPORTS ####### */

/* Mobile Devices (Small Screens) */
@media (max-width: 320px) {

    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 25vw;
    }

    /* Main Content */

    #selection-container {
        flex-direction: column;
        align-items: center;
        gap: 0vw;
        padding: 0vw 0vw;
    }

    #team1-container,
    #team2-container,
    #time-remaining-container,
    #output-container,
    #current-scores-container,
    #pace-output-container {
        width: 85vw;
        margin-bottom: 2vh;
    }

    /* Team Select Containers */

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 4vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 50%;
        transform: translateX(-3vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 45%;
        transform: translateX(-16vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 25%;
        transform: translate(-15vw, -.125vh);
    }

    #selection-arrow {
        width: 6vw;
        transform: translateX(33vw);
    }

    .team-select {
        width: 100%;
        height: 6vh;
        border: .75vw solid;
        border-radius: 3vw;
        font-size: .75em;
        padding: 0.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 100%;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 1.5vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 12vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 1vh;
    }

    .team-detail,
    .output-detail {
        font-size: 0.67em;
        margin-top: 0.5vh;
        margin-bottom: 0vh;
        border: 0.67vw solid;
        border-radius: 2vw;
        width: 13vw;
        height: 2.85vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 16vw;
        margin-top: 0.1vh;
        margin-left: 1.25vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .33em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .33em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 5vh 0vw 4vh 0vw;
    }

    #time-up,
    #time-down {
        width: 4vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 2.5em;
        padding: 2.25vh;
    }

    #time-enclosure {
        width: 30vw;
    }

    #time-encl-indicator {
        width: 39vw;
    }

    #foul-game-indicator {
        width: 31vw;
        transform: translate(0vw, -.5vh);
    }

    #scoreboard-display {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 100%;
        margin-bottom: 1vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: .8em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: .95em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        font-size: .8em;
    }

    #pace-output-detail-cont {
        margin-top: 0vh;
    }

    /* Inputs & Selectors */

    #score-input-team1,
    #score-input-team2 {
        width: 80%;
        margin: 1vh 0vw 1vh 0vw;
    }

    .team-score {
        font-size: 1.75em;
        padding: 1vh 0vh;
    }

    #team-score-enclosure-1,
    #team-score-enclosure-2 {
        width: 100%;
    }
}

/* Mobile Devices (Large Screens) */
@media (min-width: 321px) and (max-width: 425px) {

    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 25vw;
    }

    /* Main Content */

    #selection-container {
        flex-direction: column;
        align-items: center;
        gap: 0vw;
        padding: 0vw 0vw;
    }

    #team1-container,
    #team2-container,
    #time-remaining-container,
    #output-container,
    #current-scores-container,
    #pace-output-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    /* Team Select Containers */

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 50%;
        transform: translateX(-4vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 40%;
        transform: translateX(-16vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 23%;
        transform: translate(-10vw, -.125vh);
    }

    #selection-arrow {
        width: 5vw;
        transform: translateX(33vw);
    }

    .team-select {
        width: 100%;
        height: 7vh;
        border: .75vw solid;
        border-radius: 3vw;
        font-size: .85em;
        padding: 0.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 100%;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 2.5vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 10vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 1.25vh;
    }

    .team-detail,
    .output-detail {
        font-size: 0.75em;
        margin-top: 1vh;
        margin-bottom: 0vh;
        border: 0.67vw solid;
        border-radius: 2vw;
        width: 12vw;
        height: 3vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 15vw;
        margin-top: 0.1vh;
        margin-left: 1.25vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .4em;
    }

    /* Span Styling */

    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .4em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 5vh 0vw 4vh 0vw;
    }

    #time-up,
    #time-down {
        width: 4vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 2.75em;
        padding: 2vh;
    }

    #time-enclosure {
        width: 25vw;
    }

    #time-encl-indicator {
        width: 33vw;
    }

    #foul-game-indicator {
        width: 26vw;
        transform: translate(0vw, -.5vh);
    }

    #scoreboard-display {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 100%;
        margin-bottom: 0.75vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: .85em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        font-size: .95em;
    }

    #pace-output-detail-cont {
        margin-top: 0vh;
    }

    /* Inputs & Selectors */

    #score-input-team1,
    #score-input-team2 {
        width: 75%;
        margin: 1vh 0vw 1vh 0vw;
    }

    .team-score {
        font-size: 1.85em;
        padding: 1.1vh 0vh;
    }

    #team-score-enclosure-1,
    #team-score-enclosure-2 {
        width: 100%;
    }
}

/* Tablets (Portrait) */
@media (min-width: 426px) and (max-width: 768px) {

    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 16vw;
    }

    /* Main Content */

    #selection-container {
        flex-direction: column;
        align-items: center;
        gap: 0vw;
        padding: 0vw 0vw;
    }

    #team1-container,
    #team2-container,
    #time-remaining-container,
    #output-container,
    #current-scores-container,
    #pace-output-container {
        width: 80vw;
        margin-bottom: 3vh;
    }

    /* Team Select Containers */

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 4.5vh;
        margin-bottom: 6vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 45%;
        transform: translateX(-4vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 35%;
        transform: translateX(-9vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 19%;
        transform: translate(1vw, -.125vh);
    }

    #selection-arrow {
        width: 5vw;
        transform: translateX(34vw);
    }

    .team-select {
        width: 100%;
        height: 8vh;
        border: .67vw solid;
        border-radius: 3vw;
        font-size: 1em;
        padding: 1vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 100%;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 3vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 9vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1.125em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 2vh;
    }

    .team-detail,
    .output-detail {
        font-size: 0.85em;
        margin-top: 1.25vh;
        margin-bottom: 0vh;
        border: 0.5vw solid;
        border-radius: 1.5vw;
        width: 11vw;
        height: 4vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 14vw;
        margin-top: 0.25vh;
        margin-left: 1.25vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .5em;
    }

    /* Span Styling */

    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .5em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 8vh 0vw 6vh 0vw;
    }

    #time-up,
    #time-down {
        width: 4vw;
        margin: -.5vh 0 -.5vh 0;
    }

    .time-select {
        font-size: 3em;
        padding: 3vh;
    }

    #time-enclosure {
        width: 24vw;
    }

    #time-encl-indicator {
        width: 31vw;
    }

    #foul-game-indicator {
        width: 24vw;
        transform: translate(0vw, -.5vh);
    }

    #scoreboard-display {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 100%;
        margin-bottom: 1vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: 1em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1.1em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        font-size: .95em;
    }

    #pace-output-detail-cont {
        margin-top: 0vh;
    }

    /* Inputs & Selectors */

    #score-input-team1,
    #score-input-team2 {
        width: 67%;
        margin: 2vh 0vw 1vh 0vw;
    }

    .team-score {
        font-size: 2.25em;
        padding: 1.25vh 0vh;
    }

    #team-score-enclosure-1,
    #team-score-enclosure-2 {
        width: 100%;
    }
}

/* Tablets (Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {

    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 12vw;
    }

    /* Main Content */

    /* Team Select Containers */
    #selection-container {
        width: 100%;
        gap: 5vw;
        padding: 0vw 5vw;
    }

    #time-remaining-container {
        width: 100%;
        margin-bottom: 2vh;
    }

    #current-scores-container {
        width: 100%;
        margin-bottom: 2vh;
    }

    #output-container,
    #pace-output-container {
        width: 60%;
        margin-bottom: 2vh;
    }

    #team1-container,
    #team2-container {
        width: 42.5vw;
        margin-bottom: 2vh;
    }

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 44%;
        transform: translateX(-1.5vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 37%;
        transform: translateX(-4vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 21%;
        transform: translate(0vw, -0.25vh);
    }

    #selection-arrow {
        width: 3vw;
        transform: translateX(18vw);
    }

    .team-select {
        width: 100%;
        height: 7vh;
        border: .25vw solid;
        border-radius: 1vw;
        font-size: 1em;
        padding: 1.5vh;
        margin-bottom: 0vh;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 2vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 5vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1.1em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        width: 100%;
        margin-top: 2vh;
    }

    .team-detail,
    .output-detail {
        font-size: .8em;
        margin-top: 1vh;
        margin-bottom: 0vh;
        border: 0.25vw solid;
        border-radius: 1vw;
        width: 6vw;
        height: 4vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 8vw;
        margin-top: 0.25vh;
        margin-left: 0.5vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .5em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .5em;
        margin-top: 2vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 6vh 0vw 4vh 0vw;
    }

    #time-up,
    #time-down {
        width: 2vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 2.75em;
        padding: 2.5vh;
    }

    #time-enclosure {
        width: 13vw;
    }

    #time-encl-indicator {
        width: 17vw;
    }

    #foul-game-indicator {
        width: 13vw;
        transform: translate(0vw, -.5vh);
    }

    #scoreboard-display {
        width: 75%;
    }

    #scoreboard-display span {
        width: 33%;
        margin-bottom: 0vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: .8em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1em;
    }

    #output-pace-flag {
        padding-top: 2vh;
        font-size: .85em;
    }

    #pace-output-detail-cont {
        margin-top: 1.5vh;
    }

    /* Inputs & Selectors */

    #score-input-team1,
    #score-input-team2 {
        width: 90%;
        margin: 1vh 0vw 1vh 0vw;
    }

    .team-score {
        font-size: 1.75em;
        padding: 1vh 0vh;
    }

    #team-score-enclosure-1,
    #team-score-enclosure-2 {
        width: 100%;
    }
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1440px) {

    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 10vw;
    }

    /* Main Content */

    /* Team Select Containers */
    #selection-container {
        width: 100%;
        gap: 5vw;
        padding: 0vw 10vw;
    }

    #time-remaining-container {
        width: 100%;
        margin-bottom: 2vh;
    }

    #current-scores-container {
        width: 100%;
        margin-bottom: 2vh;
    }

    #output-container,
    #pace-output-container {
        width: 60%;
        margin-bottom: 2vh;
    }

    #team1-container,
    #team2-container {
        width: 37.5vw;
        margin-bottom: 2vh;
    }

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 4vh;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 42%;
        transform: translateX(-2vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 37%;
        transform: translateX(-3vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 22%;
        transform: translate(0vw, -0.25vh);
    }

    #selection-arrow {
        width: 2.5vw;
        transform: translateX(16vw);
    }

    .team-select {
        width: 100%;
        height: 9vh;
        border: .25vw solid;
        border-radius: 1vw;
        font-size: 1em;
        padding: 1.5vh;
        margin-bottom: 0vh;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 2vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 4vw;
        margin-top: -1.5vh;
    }

    h2 {
        font-size: 1.1em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        width: 100%;
        margin-top: 2vh;
    }

    .team-detail,
    .output-detail {
        font-size: .8em;
        margin-top: .75vh;
        margin-bottom: 0vh;
        border: 0.2vw solid;
        border-radius: 1vw;
        width: 5vw;
        height: 3.5vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 7vw;
        margin-top: 0.25vh;
        margin-left: 0.5vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .55em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .55em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 7vh 0vw 5vh 0vw;
    }

    #time-up,
    #time-down {
        width: 1.5vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 2.75em;
        padding: 2.5vh;
    }

    #time-enclosure {
        width: 10vw;
    }

    #time-encl-indicator {
        width: 13vw;
    }

    #foul-game-indicator {
        width: 10vw;
        transform: translate(0vw, -.5vh);
    }

    #scoreboard-display {
        width: 67%;
    }

    #scoreboard-display span {
        width: 33%;
        margin-bottom: 0vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: .85em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1em;
    }

    #output-pace-flag {
        padding-top: 1.5vh;
        font-size: .95em;
    }

    #pace-output-detail-cont {
        margin-top: 1.5vh;
    }

    /* Inputs & Selectors */

    #score-input-team1,
    #score-input-team2 {
        width: 90%;
        margin: 1vh 0vw 1vh 0vw;
    }

    .team-score {
        font-size: 2em;
        padding: 1.25vh 0vh;
    }

    #team-score-enclosure-1,
    #team-score-enclosure-2 {
        width: 100%;
    }
}

/* Large Displays */
@media (min-width: 2560px) {

    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 8vw;
    }

    /* Main Content */

    /* Team Select Containers */
    #selection-container {
        width: 100%;
        gap: 7vw;
        padding: 0vw 15vw;
    }

    #time-remaining-container {
        width: 100%;
        margin-bottom: 2vh;
    }

    #current-scores-container {
        width: 100%;
        margin-bottom: 2vh;
    }

    #output-container,
    #pace-output-container {
        width: 50%;
        margin-bottom: 2vh;
    }

    #team1-container,
    #team2-container {
        width: 39vw;
        margin-bottom: 2vh;
    }

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 6vh;
        margin-bottom: 8vh;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 42%;
        transform: translateX(-1.5vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 37%;
        transform: translateX(-3vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 20%;
        transform: translate(0.25vw, -0.25vh);
    }

    #selection-arrow {
        width: 2.25vw;
        transform: translateX(17vw);
    }

    .team-select {
        width: 100%;
        height: 12vh;
        border: .2vw solid;
        border-radius: 1.5vw;
        font-size: 1.75em;
        padding: 1.5vh;
        margin-bottom: 0vh;
    }

    /* Headings */

    .team-head {
        margin-top: 1vh;
        margin-bottom: 2vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 3.5vw;
        margin-top: -2vh;
    }

    h2 {
        font-size: 2em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        width: 100%;
        margin-top: 2vh;
    }

    .team-detail,
    .output-detail {
        font-size: 1.5em;
        margin-top: 1.5vh;
        margin-bottom: 1.75vh;
        border: 0.15vw solid;
        border-radius: 0.75vw;
        width: 5vw;
        height: 4.5vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 7vw;
        margin-top: 0.25vh;
        margin-left: 0.5vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .95em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .95em;
        margin-top: 2vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 7vh 0vw 5vh 0vw;
    }

    #time-up,
    #time-down {
        width: 1.5vw;
        margin: -.5vh 0 -.5vh 0;
    }

    .time-select {
        font-size: 6em;
        padding: 3vh;
    }

    #time-enclosure {
        width: 10vw;
    }

    #time-encl-indicator {
        width: 13vw;
    }

    #foul-game-indicator {
        width: 10vw;
        transform: translate(0vw, -.5vh);
    }

    #scoreboard-display {
        width: 67%;
    }

    #scoreboard-display span {
        width: 33%;
        margin-bottom: 0vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: 1.33em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1.5em;
    }

    #output-pace-flag {
        padding-top: 2vh;
        font-size: 1.4em;
    }

    #pace-output-detail-cont {
        margin-top: 1.5vh;
    }

    /* Inputs & Selectors */

    #score-input-team1,
    #score-input-team2 {
        width: 90%;
        margin: 2vh 0vw 1vh 0vw;
    }

    .team-score {
        font-size: 3.5em;
        padding: 1.75vh 0vh;
    }

    #team-score-enclosure-1,
    #team-score-enclosure-2 {
        width: 100%;
    }
}