:root {
    /* Color Definitions */
    --black: #131314;
    --white: #F4F6F3;
    --alert-red: #EF182B;
    /* New Team Color Variables (placeholders) */
    --team1-primary: #131314;
    /* Example default color */
    --team1-secondary: #131314;
    /* Example default color */
    --team2-primary: #131314;
    /* Example default color */
    --team2-secondary: #131314;
    /* Example default color */
}

/* Font-Face */
@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Thin.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-LightItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Medium.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-MediumItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Regular.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Italic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Black.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Bold.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Regular.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Technology';
    src: url('../font/technology-digital-clock-webfont/Technology-Italic.woff2') format('woff2'),
        url('../font/technology-digital-clock-webfont/Technology-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}



/* Reset & Defaults */
html,
* {
    font-family: "Mont";
}

body {
    background-color: var(--white);
}

/* Header Logo */
header {
    width: 100%;
    padding-top: 2vh;
    background-color: transparent;
}

#logo {
    text-align: center;
    /* Centers the SVG logo */
}

#logo img {
    width: 9vw;
    /* Adjust based on your logo's size */
    height: auto;
}


/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

/* Team Select Containers */
#selection-container {
    display: flex;
    width: 100%;
}

#team1-container,
#team2-container {
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

.team1-select-cont,
.team2-select-cont {
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.team-selection-orna-cont {
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    pointer-events: none;
}

#team1-select-orna-l,
#team1-select-orna-m,
#team1-select-orna-r {
    fill: var(--team1-secondary);
    stroke-width: 0px;
    position: relative;
    display: flex;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
}

#team2-select-orna-l,
#team2-select-orna-m,
#team2-select-orna-r {
    fill: var(--team2-secondary);
    stroke-width: 0px;
    position: relative;
    display: flex;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
}

#team1-select-orna-l,
#team2-select-orna-l {
    width: 33%;
    height: auto;
    transform: translateX(-6vw);
}

#team1-select-orna-m,
#team2-select-orna-m {
    width: 23%;
    height: auto;
    transform: translateX(-7vw);
}

#team1-select-orna-r,
#team2-select-orna-r {
    width: 12.5%;
    height: auto;
    transform: translate(4vw, -0.25vh);
}

#selection-arrow {
    width: 3vw;
    height: auto;
    position: absolute;
    z-index: 2;
    display: flex;
    transform: translateX(30vw);
    pointer-events: none;
}

.team-select {
    width: 100%;
    height: 12vh;
    -webkit-appearance: none;
    /* For WebKit browsers */
    -moz-appearance: none;
    /* For Mozilla browsers */
    appearance: none;
    /* Standard */
    color: var(--white);
    border: .25vw solid;
    border-radius: 1vw;
    background: transparent;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 1.5vh;
    margin-bottom: 0vh;
    z-index: 1;
    position: absolute;
}

#team1-select {
    border-color: var(--team1-primary);
}

#team2-select {
    border-color: var(--team2-primary);
}

.team1-select-high-fill {
    fill: var(--team1-primary);
    stroke-width: 0px;
}

.team2-select-high-fill {
    fill: var(--team2-primary);
    stroke-width: 0px;
}

#team1-select-highlight,
#team2-select-highlight {
    overflow: visible;
    z-index: 0;
    width: 45vw;
    position: absolute;
}

/* Headings */
.team-head,
.time-head,
.score-head {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.team-head {
    margin-top: 3vh;
    margin-bottom: 5vh;
    height: auto;
    align-items: center;
    flex-direction: column;
}

#team-head-orna-1,
#team-head-orna-2 {
    overflow: visible;
    width: 4vw;
    margin-top: -1.5vh;
}

.orna-fill-1 {
    fill: var(--team1-primary);
    stroke-width: 0px;
}

.orna-fill-2 {
    fill: var(--team2-primary);
    stroke-width: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
}

h3 {
    font-weight: 400;
    font-style: normal;
}

/* Stat Details */
#team1-detail-cont,
#team2-detail-cont,
#output-detail-cont,
#pace-output-detail-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#team1-top-row,
#team2-top-row,
#team1-bottom-row,
#team2-bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vh;
}

.team-detail,
.output-detail {
    font-size: 1.33em;
    font-weight: 600;
    font-style: italic;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border: 0.25vw solid;
    border-radius: 0.75vw;
    width: 7vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#team1-rank,
#team1-rec,
#team1-offRank,
#team1-defRank,
#team1-possGm,
#team1-ptsGm,
#team1-ptsOppGm,
#team1-fgPer,
#team1-threePer {
    border-color: var(--team1-secondary);
}

#team2-rank,
#team2-rec,
#team2-offRank,
#team2-defRank,
#team2-possGm,
#team2-ptsGm,
#team2-ptsOppGm,
#team2-fgPer,
#team2-threePer {
    border-color: var(--team2-secondary);
}

.team1-highlight-fill {
    fill: var(--team1-primary);
    stroke-width: 0px;
}

.team2-highlight-fill {
    fill: var(--team2-primary);
    stroke-width: 0px;
}

#team1-highlight,
#team2-highlight {
    overflow: visible;
    z-index: 0;
    position: absolute;
    width: 10vw;
    margin-top: 0.33vh;
    margin-left: 0.5vw;
}

#team1-detail-cont span h3,
#team2-detail-cont span h3 {
    font-size: .85em;
    text-align: center;
    z-index: 1;
    position: relative;
}

.team1-detail-title,
.team2-detail-title {
    color: var(--white);
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Span Styling */
#team1-top-row span,
#team2-top-row span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team1-bottom-row span,
#team2-bottom-row span {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output-detail-cont span {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pace-output-detail-cont span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pace-output-detail-full,
.pace-output-detail-empty {
    width: 25%;
}

/* Headings within Spans */
#output-detail-cont span h3,
#pace-output-detail-cont span h3 {
    font-size: .85em;
    margin-top: 2vh;
    margin-bottom: .125vh;
    text-align: center;
}

/* Time Remaining & Scoreboard */
#time-remaining-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
}

.progress-ring-container {
    overflow: visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh 0vw;
}

.progress-ring {
    position: absolute;
    z-index: 1;
    /* Ensure it's behind the select */
    transform: rotate(-90deg);
    /* Rotate so progress starts from the top */
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: scaleX(-1);
    /* Flip horizontally to correct the rotation direction */
}

#time-up,
#time-down {
    fill: var(--white);
    stroke-width: 0px;
    width: 2vw;
    z-index: 1;
    margin: -1vh 0 -1vh 0;
}

.time-select {
    -webkit-appearance: none;
    /* For WebKit browsers */
    -moz-appearance: none;
    /* For Mozilla browsers */
    appearance: none;
    /* Standard */
    color: var(--white);
    font-family: 'Technology';
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 3.5vh;
    background: transparent;
    border: none;
    z-index: 1;
    position: relative;
}

.time-select option {
    font-family: 'Technology';
    font-weight: bold;
    font-style: italic;
}

#time-enclosure {
    overflow: visible;
    z-index: 0;
    position: absolute;
    width: 12vw;
}

#time-enclosure-shape {
    fill: var(--black);
    stroke-width: 0px;
}

#current-scores-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

#scoreboard-display {
    width: 67vw;
    display: flex;
    flex-direction: row;
}

#scoreboard-display span {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0vh;
    align-items: center;
}

#team1-score-head,
#team2-score-head {
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
}

/* Pace */
#pace-description-container h3 {
    font-size: 1.25em;
    font-weight: 700;
    font-style: normal;
}

#output-pace-flag {
    width: 100%;
    padding-top: 3vh;
    font-size: 1.125em;
    font-weight: 600;
    font-style: italic;
}

#output-container,
#pace-output-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2vh;
    align-items: center;
    flex-wrap: wrap;
}

#pace-output-detail-cont {
    margin-top: 1.5vh;
}

/* Inputs & Selectors */
.team-score {
    width: 80%;
    height: auto;
    padding: 1vh 0vh;
    border-width: .5vw;
    border-radius: 1vw;
    color: var(--white);
    background-color: var(--black);
    font-family: 'Technology';
    font-size: 3em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

#current-score-team1 {
    border-color: var(--team1-primary);
    border-style: double;
}

#current-score-team2 {
    border-color: var(--team2-primary);
    border-style: double;
}

/* Mobile Devices (Small Screens) */
@media (max-width: 320px) {
    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 25vw;
    }

    /* Main Content */

    #team1-container,
    #team2-container, 
    #time-remaining-container, 
    #output-container, 
    #current-scores-container, 
    #pace-output-container {
        width: 85vw;
        margin-bottom: 2vh;
    }

    /* Team Select Containers */

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 50%;
        transform: translateX(-3vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 45%;
        transform: translateX(-16vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 25%;
        transform: translate(-15vw, -.125vh);
    }

    #selection-arrow {
        width: 6vw;
        transform: translateX(33vw);
    }

    .team-select {
        width: 100%;
        height: 6vh;
        border: .75vw solid;
        border-radius: 3vw;
        font-size: .75em;
        padding: 0.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 80vw;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 2vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 12vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 1vh;
    }

    .team-detail,
    .output-detail {
        font-size: 0.67em;
        margin-top: 0.5vh;
        margin-bottom: 0vh;
        border: 0.67vw solid;
        border-radius: 2vw;
        width: 13vw;
        height: 2.85vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 16vw;
        margin-top: 0.1vh;
        margin-left: 1.25vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .33em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .33em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 3vh 0vw;
    }

    #time-up,
    #time-down {
        width: 4vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 2.5em;
        padding: 2.25vh;
    }

    #time-enclosure {
        width: 30vw;
    }

    #scoreboard-display {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 100%;
        margin-bottom: 1vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: .8em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: .95em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        font-size: .8em;
    }

    #pace-output-detail-cont {
        margin-top: 0vh;
    }

    /* Inputs & Selectors */
    .team-score {
        width: 80%;
        padding: 1vh 0vh;
        border-width: 2vw;
        border-radius: 3vw;
        font-size: 2em;
    }
}

/* Mobile Devices (Large Screens) */
@media (min-width: 321px) and (max-width: 425px) {
    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 25vw;
    }

    /* Main Content */

    #team1-container,
    #team2-container, 
    #time-remaining-container, 
    #output-container, 
    #current-scores-container, 
    #pace-output-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    /* Team Select Containers */

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 6vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 50%;
        transform: translateX(-4vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 40%;
        transform: translateX(-16vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 23%;
        transform: translate(-10vw, -.125vh);
    }

    #selection-arrow {
        width: 5vw;
        transform: translateX(33vw);
    }

    .team-select {
        width: 100%;
        height: 7vh;
        border: .75vw solid;
        border-radius: 3vw;
        font-size: .85em;
        padding: 0.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 75vw;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 3vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 10vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 1.25vh;
    }

    .team-detail,
    .output-detail {
        font-size: 0.75em;
        margin-top: 1vh;
        margin-bottom: 0vh;
        border: 0.67vw solid;
        border-radius: 2vw;
        width: 12vw;
        height: 3vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 15vw;
        margin-top: 0.1vh;
        margin-left: 1.25vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .4em;
    }

    /* Span Styling */

    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .4em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 3.5vh 0vw;
    }

    #time-up,
    #time-down {
        width: 4vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 2.75em;
        padding: 2.5vh;
    }

    #time-enclosure {
        width: 25vw;
    }

    #scoreboard-display {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 100%;
        margin-bottom: 0.75vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: .85em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        font-size: .95em;
    }

    #pace-output-detail-cont {
        margin-top: 0vh;
    }

    /* Inputs & Selectors */
    .team-score {
        width: 75%;
        padding: 1.125vh 0vh;
        border-width: 1.5vw;
        border-radius: 4vw;
        font-size: 2em;
    }
}

/* Tablets (Portrait) */
@media (min-width: 426px) and (max-width: 768px) {
    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 16vw;
    }

    /* Main Content */

    #team1-container,
    #team2-container, 
    #time-remaining-container, 
    #output-container, 
    #current-scores-container, 
    #pace-output-container {
        width: 80vw;
        margin-bottom: 3vh;
    }

    /* Team Select Containers */

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 4.5vh;
        margin-bottom: 8vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 45%;
        transform: translateX(-4vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 35%;
        transform: translateX(-9vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 19%;
        transform: translate(1vw, -.125vh);
    }

    #selection-arrow {
        width: 5vw;
        transform: translateX(34vw);
    }

    .team-select {
        width: 100%;
        height: 8vh;
        border: .67vw solid;
        border-radius: 3vw;
        font-size: 1em;
        padding: 1vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 70vw;
    }

    /* Headings */

    .team-head {
        margin-top: 0vh;
        margin-bottom: 3vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 9vw;
        margin-top: -1.25vh;
    }

    h2 {
        font-size: 1.125em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 2vh;
    }

    .team-detail,
    .output-detail {
        font-size: 0.85em;
        margin-top: 1.25vh;
        margin-bottom: 0vh;
        border: 0.5vw solid;
        border-radius: 1.5vw;
        width: 11vw;
        height: 4vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 14vw;
        margin-top: 0.25vh;
        margin-left: 1.25vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .5em;
    }

    /* Span Styling */

    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .5em;
        margin-top: 1vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */

    .progress-ring-container {
        margin: 4vh 0vw;
    }

    #time-up,
    #time-down {
        width: 4vw;
        margin: -.5vh 0 -.5vh 0;
    }

    .time-select {
        font-size: 3em;
        padding: 3vh;
    }

    #time-enclosure {
        width: 24vw;
    }

    #scoreboard-display {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #scoreboard-display span {
        width: 100%;
        margin-bottom: 1vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: 1em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1.1em;
    }

    #output-pace-flag {
        padding-top: 0vh;
        font-size: .95em;
    }

    #pace-output-detail-cont {
        margin-top: 0vh;
    }

    /* Inputs & Selectors */
    .team-score {
        width: 67%;
        padding: 1.25vh 0vh;
        border-width: 1.25vw;
        border-radius: 3vw;
        font-size: 2.25em;
    }
}

/* Tablets (Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 9vw;
    }


    /* Main Content */

    /* Team Select Containers */
    #team1-container,
    #team2-container {
        width: 67vw;
        margin-bottom: 2vh;
    }

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 6vh;
        margin-bottom: 8vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 33%;
        transform: translateX(-6vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 23%;
        transform: translateX(-7vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 12.5%;
        transform: translate(4vw, -0.25vh);
    }

    #selection-arrow {
        width: 3vw;
        transform: translateX(30vw);
    }

    .team-select {
        width: 100%;
        height: 12vh;
        border: .25vw solid;
        border-radius: 1vw;
        font-size: 2em;
        padding: 1.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 45vw;
    }

    /* Headings */

    .team-head {
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 4vw;
        margin-top: -1.5vh;
    }

    h2 {
        font-size: 1.5em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 3vh;
    }

    .team-detail,
    .output-detail {
        font-size: 1.33em;
        margin-top: 2vh;
        margin-bottom: 1vh;
        border: 0.25vw solid;
        border-radius: 0.75vw;
        width: 7vw;
        height: 6vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 10vw;
        margin-top: 0.33vh;
        margin-left: 0.5vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .85em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .85em;
        margin-top: 2vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */
    #time-remaining-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    .progress-ring-container {
        margin: 5vh 0vw;
    }

    #time-up,
    #time-down {
        width: 2vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 5em;
        padding: 3.5vh;
    }

    #time-enclosure {
        width: 12vw;
    }

    #current-scores-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    #scoreboard-display {
        width: 67vw;
    }

    #scoreboard-display span {
        width: 33%;
        margin-bottom: 0vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: 1.25em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1.25em;
    }

    #output-pace-flag {
        padding-top: 3vh;
        font-size: 1.125em;
    }

    #output-container,
    #pace-output-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    #pace-output-detail-cont {
        margin-top: 1.5vh;
    }

    /* Inputs & Selectors */
    .team-score {
        width: 80%;
        padding: 1vh 0vh;
        border-width: .5vw;
        border-radius: 1vw;
        font-size: 3em;
    }
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 9vw;
    }


    /* Main Content */

    /* Team Select Containers */
    #team1-container,
    #team2-container {
        width: 67vw;
        margin-bottom: 2vh;
    }

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 6vh;
        margin-bottom: 8vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 33%;
        transform: translateX(-6vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 23%;
        transform: translateX(-7vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 12.5%;
        transform: translate(4vw, -0.25vh);
    }

    #selection-arrow {
        width: 3vw;
        transform: translateX(30vw);
    }

    .team-select {
        width: 100%;
        height: 12vh;
        border: .25vw solid;
        border-radius: 1vw;
        font-size: 2em;
        padding: 1.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 45vw;
    }

    /* Headings */

    .team-head {
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 4vw;
        margin-top: -1.5vh;
    }

    h2 {
        font-size: 1.5em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 3vh;
    }

    .team-detail,
    .output-detail {
        font-size: 1.33em;
        margin-top: 2vh;
        margin-bottom: 1vh;
        border: 0.25vw solid;
        border-radius: 0.75vw;
        width: 7vw;
        height: 6vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 10vw;
        margin-top: 0.33vh;
        margin-left: 0.5vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .85em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .85em;
        margin-top: 2vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */
    #time-remaining-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    .progress-ring-container {
        margin: 5vh 0vw;
    }

    #time-up,
    #time-down {
        width: 2vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 5em;
        padding: 3.5vh;
    }

    #time-enclosure {
        width: 12vw;
    }

    #current-scores-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    #scoreboard-display {
        width: 67vw;
    }

    #scoreboard-display span {
        width: 33%;
        margin-bottom: 0vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: 1.25em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1.25em;
    }

    #output-pace-flag {
        padding-top: 3vh;
        font-size: 1.125em;
    }

    #output-container,
    #pace-output-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    #pace-output-detail-cont {
        margin-top: 1.5vh;
    }

    /* Inputs & Selectors */
    .team-score {
        width: 80%;
        padding: 1vh 0vh;
        border-width: .5vw;
        border-radius: 1vw;
        font-size: 3em;
    }
}

/* Large Displays */
@media (min-width: 2560px) {
    /* Header Logo */
    header {
        padding-top: 2vh;
    }

    #logo img {
        width: 9vw;
    }


    /* Main Content */

    /* Team Select Containers */
    #team1-container,
    #team2-container {
        width: 67vw;
        margin-bottom: 2vh;
    }

    .team1-select-cont,
    .team2-select-cont {
        width: 100%;
        margin-top: 6vh;
        margin-bottom: 8vh;
    }

    .team-selection-orna-cont {
        width: 100%;
    }

    #team1-select-orna-l,
    #team2-select-orna-l {
        width: 33%;
        transform: translateX(-6vw);
    }

    #team1-select-orna-m,
    #team2-select-orna-m {
        width: 23%;
        transform: translateX(-7vw);
    }

    #team1-select-orna-r,
    #team2-select-orna-r {
        width: 12.5%;
        transform: translate(4vw, -0.25vh);
    }

    #selection-arrow {
        width: 3vw;
        transform: translateX(30vw);
    }

    .team-select {
        width: 100%;
        height: 12vh;
        border: .25vw solid;
        border-radius: 1vw;
        font-size: 2em;
        padding: 1.5vh;
        margin-bottom: 0vh;
    }

    #team1-select-highlight,
    #team2-select-highlight {
        width: 45vw;
    }

    /* Headings */

    .team-head {
        margin-top: 3vh;
        margin-bottom: 5vh;
    }

    #team-head-orna-1,
    #team-head-orna-2 {
        width: 4vw;
        margin-top: -1.5vh;
    }

    h2 {
        font-size: 1.5em;
    }

    /* Stat Details */

    #team1-top-row,
    #team2-top-row,
    #team1-bottom-row,
    #team2-bottom-row {
        margin-top: 3vh;
    }

    .team-detail,
    .output-detail {
        font-size: 1.33em;
        margin-top: 2vh;
        margin-bottom: 1vh;
        border: 0.25vw solid;
        border-radius: 0.75vw;
        width: 7vw;
        height: 6vh;
    }

    #team1-highlight,
    #team2-highlight {
        width: 10vw;
        margin-top: 0.33vh;
        margin-left: 0.5vw;
    }

    #team1-detail-cont span h3,
    #team2-detail-cont span h3 {
        font-size: .85em;
    }

    /* Span Styling */
    #team1-top-row span,
    #team2-top-row span {
        width: 25%;
    }

    #team1-bottom-row span,
    #team2-bottom-row span {
        width: 20%;
    }

    #output-detail-cont span {
        width: 25%;
    }

    .pace-output-detail-full,
    .pace-output-detail-empty {
        width: 25%;
    }

    /* Headings within Spans */
    #output-detail-cont span h3,
    #pace-output-detail-cont span h3 {
        font-size: .85em;
        margin-top: 2vh;
        margin-bottom: .125vh;
    }

    /* Time Remaining & Scoreboard */
    #time-remaining-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    .progress-ring-container {
        margin: 5vh 0vw;
    }

    #time-up,
    #time-down {
        width: 2vw;
        margin: -1vh 0 -1vh 0;
    }

    .time-select {
        font-size: 5em;
        padding: 3.5vh;
    }

    #time-enclosure {
        width: 12vw;
    }

    #current-scores-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    #scoreboard-display {
        width: 67vw;
    }

    #scoreboard-display span {
        width: 33%;
        margin-bottom: 0vh;
    }

    #team1-score-head,
    #team2-score-head {
        font-size: 1.25em;
    }

    /* Pace */
    #pace-description-container h3 {
        font-size: 1.25em;
    }

    #output-pace-flag {
        padding-top: 3vh;
        font-size: 1.125em;
    }

    #output-container,
    #pace-output-container {
        width: 80vw;
        margin-bottom: 2vh;
    }

    #pace-output-detail-cont {
        margin-top: 1.5vh;
    }

    /* Inputs & Selectors */
    .team-score {
        width: 80%;
        padding: 1vh 0vh;
        border-width: .5vw;
        border-radius: 1vw;
        font-size: 3em;
    }
}